In [1]:
#step 1 importing pandas
import pandas as pd

In [3]:
#step 2: loading data set using pandas
df=pd.read_csv("sales_data_with_discounts.csv")
df

,Date,Day,SKU,City,Volume,BU,Brand,Model,Avg Price,Total Sales Value,Discount Rate (%),Discount Amount,Net Sales Value
0,01-04-2021,Thursday,M01,C,15,Mobiles,RealU,RU-10,12100,181500,11.654820,21153.498820,160346.501180
1,01-04-2021,Thursday,M02,C,10,Mobiles,RealU,RU-9 Plus,10100,101000,11.560498,11676.102961,89323.897039
2,01-04-2021,Thursday,M03,C,7,Mobiles,YouM,YM-99,16100,112700,9.456886,10657.910157,102042.089843
3,01-04-2021,Thursday,M04,C,6,Mobiles,YouM,YM-99 Plus,20100,120600,6.935385,8364.074702,112235.925298
4,01-04-2021,Thursday,M05,C,3,Mobiles,YouM,YM-98,8100,24300,17.995663,4372.946230,19927.053770
...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,15-04-2021,Thursday,L06,C,2,Lifestyle,Jeera,M-Casuals,1300,2600,15.475687,402.367873,2197.632127
446,15-04-2021,Thursday,L07,C,6,Lifestyle,Viva,W-Western,2600,15600,17.057027,2660.896242,12939.103758
447,15-04-2021,Thursday,L08,C,2,Lifestyle,Viva,W-Lounge,1600,3200,18.965550,606.897606,2593.102394
448,15-04-2021,Thursday,L09,C,3,Lifestyle,Jeera,M-Formals,1900,5700,16.793014,957.201826,4742.798174
449,15-04-2021,Thursday,L10,C,1,Lifestyle,Jeera,M-Shoes,3100,3100,15.333300,475.332295,2624.667705

In [1]:
#step 3: identifying numerical columns in the data set

In [25]:
cols=df.select_dtypes(include='number')

In [26]:
print(cols)

     Volume  Avg Price  Total Sales Value  Discount Rate (%)  Discount Amount  \
0        15      12100             181500          11.654820     21153.498820
1        10      10100             101000          11.560498     11676.102961
2         7      16100             112700           9.456886     10657.910157
3         6      20100             120600           6.935385      8364.074702
4         3       8100              24300          17.995663      4372.946230
..      ...        ...                ...                ...              ...
445       2       1300               2600          15.475687       402.367873
446       6       2600              15600          17.057027      2660.896242
447       2       1600               3200          18.965550       606.897606
448       3       1900               5700          16.793014       957.201826
449       1       3100               3100          15.333300       475.332295

     Net Sales Value
0      160346.501180
1       89323.897039
2      102042.089843
3      112235.925298
4       19927.053770
..               ...
445      2197.632127
446     12939.103758
447      2593.102394
448      4742.798174
449      2624.667705

[450 rows x 6 columns]

In [31]:
#step 4 : calculating mean,median,mode and standard deviation for numerical columns

In [27]:
#step 4 a: Calculating metrics for Volume column
df['Volume']

0      15
1      10
2       7
3       6
4       3
       ..
445     2
446     6
447     2
448     3
449     1
Name: Volume, Length: 450, dtype: int64

In [25]:
print("Mean of the Volume column:" ,df['Volume'].mean())
print("Median of the Volume column:" ,df['Volume'].median())
print("Mode of the Volume column:" ,df['Volume'].mode())
print("Standard deviation of the Volume column:" ,df['Volume'].std())

Mean of the Volume column: 5.066666666666666
Median of the Volume column: 4.0
Mode of the Volume column: 0    3
Name: Volume, dtype: int64
Standard deviation of the Volume column: 4.231602391213926

In [33]:
# step 4 b: Calculating metrics for Avg Price
df["Avg Price"]

0      12100
1      10100
2      16100
3      20100
4       8100
       ...
445     1300
446     2600
447     1600
448     1900
449     3100
Name: Avg Price, Length: 450, dtype: int64

In [35]:
print("Mean of the Avg Price column:" ,df['Avg Price'].mean())
print("Median of the Avg Price column:" ,df['Avg Price'].median())
print("Mode of the Avg Price column:" ,df['Avg Price'].mode())
print("Standard deviation of the Avg Price column:" ,df['Avg Price'].std())

Mean of the Avg Price column: 10453.433333333332
Median of the Avg Price column: 1450.0
Mode of the Avg Price column: 0     400
1     450
2     500
3    1300
4    8100
Name: Avg Price, dtype: int64
Standard deviation of the Avg Price column: 18079.90483993645

In [31]:
# step 4 c: Calculating metrics for Total Sales Value
df["Total Sales Value"]

0      181500
1      101000
2      112700
3      120600
4       24300
        ...
445      2600
446     15600
447      3200
448      5700
449      3100
Name: Total Sales Value, Length: 450, dtype: int64

In [37]:
print("Mean of the Total Sales Value column:" ,df['Total Sales Value'].mean())
print("Median of the Total Sales Value column:" ,df['Total Sales Value'].median())
print("Mode of the Total Sales Value column:" ,df['Total Sales Value'].mode())
print("Standard deviation of the Total Sales Value column:" ,df['Total Sales Value'].std())

Mean of the Total Sales Value column: 33812.83555555555
Median of the Total Sales Value column: 5700.0
Mode of the Total Sales Value column: 0    24300
Name: Total Sales Value, dtype: int64
Standard deviation of the Total Sales Value column: 50535.07417255328

In [11]:
# step 4 d: Calculating metrics for Discount Rate
df["Discount Rate (%)"]

0      11.654820
1      11.560498
2       9.456886
3       6.935385
4      17.995663
         ...
445    15.475687
446    17.057027
447    18.965550
448    16.793014
449    15.333300
Name: Discount Rate (%), Length: 450, dtype: float64

In [39]:
print("Mean of the Discount Rate (%) column:" ,df['Discount Rate (%)'].mean())
print("Median of the Discount Rate (%) column:" ,df['Discount Rate (%)'].median())
print("Mode of the Discount Rate (%) column:" ,df['Discount Rate (%)'].mode())
print("Standard deviation of the Discount Rate (%) column:" ,df['Discount Rate (%)'].std())

Mean of the Discount Rate (%) column: 15.155241895330914
Median of the Discount Rate (%) column: 16.57776564929597
Mode of the Discount Rate (%) column: 0       5.007822
1       5.055218
2       5.059801
3       5.072124
4       5.084108
         ...
445    19.940610
446    19.965340
447    19.976879
448    19.982257
449    19.992407
Name: Discount Rate (%), Length: 450, dtype: float64
Standard deviation of the Discount Rate (%) column: 4.220602153325511

In [7]:
df["Discount Rate (%)"].value_counts()

Discount Rate (%)
11.654820    1
9.791440     1
6.106931     1
8.394469     1
19.940610    1
            ..
18.092168    1
17.379604    1
18.939784    1
16.121597    1
15.333300    1
Name: count, Length: 450, dtype: int64

In [40]:
#since the Discount Rate column consists of floating data type values and continuous data we can't able to find out the most repeated value particularly.

In [11]:
# step 4 e: Calculating metrics for Discount Amount
df["Discount Amount"]

0      21153.498820
1      11676.102961
2      10657.910157
3       8364.074702
4       4372.946230
           ...
445      402.367873
446     2660.896242
447      606.897606
448      957.201826
449      475.332295
Name: Discount Amount, Length: 450, dtype: float64

In [45]:
print("Mean of the Discount Amount (%) column:" ,df['Discount Amount'].mean())
print("Median of the Discount Amount (%) column:" ,df['Discount Amount'].median())
print("Mode of the Discount Amount (%) column:" ,df['Discount Amount'].mode())
print("Standard deviation of the Discount Amount (%) column:" ,df['Discount Amount'].std())

Mean of the Discount Amount (%) column: 3346.499424342415
Median of the Discount Amount (%) column: 988.9337332382784
Mode of the Discount Amount (%) column: 0         69.177942
1         73.025199
2         93.649161
3         94.682735
4        102.705757
           ...
445    17900.983733
446    21153.498820
447    21496.675367
448    25328.224204
449    25738.022194
Name: Discount Amount, Length: 450, dtype: float64
Standard deviation of the Discount Amount (%) column: 4509.9029633539985

In [2]:
#step 4 f : Calculating metrics for Net Sales Value Column

In [10]:
df['Net Sales Value']

0      160346.501180
1       89323.897039
2      102042.089843
3      112235.925298
4       19927.053770
           ...
445      2197.632127
446     12939.103758
447      2593.102394
448      4742.798174
449      2624.667705
Name: Net Sales Value, Length: 450, dtype: float64

In [16]:
print("Mean of the Net Sales Value column:" ,df['Net Sales Value'].mean())
print("Median of the Net Sales Value column:" ,df['Net Sales Value'].median())
print("Mode of the Net Sales Value column:" ,df['Net Sales Value'].mode())
print("Standard deviation of the Net Sales Value Amount (%) column:" ,df['Net Sales Value'].std())

Mean of the Net Sales Value column: 30466.336131270138
Median of the Net Sales Value column: 4677.788059301853
Mode of the Net Sales Value column: 0         326.974801
1         330.822058
2         466.350839
3         485.317265
4         496.607104
           ...
445    162603.186379
446    163915.971000
447    163967.080070
448    166263.161348
449    179507.479049
Name: Net Sales Value, Length: 450, dtype: float64
Standard deviation of the Net Sales Value Amount (%) column: 46358.656624066934

In [12]:
df["Net Sales Value"].value_counts()

Net Sales Value
160346.501180    1
48802.830917     1
50796.150489     1
134934.946692    1
19454.431704     1
                ..
8518.414504      1
4296.260567      1
6805.815718      1
5452.096217      1
2624.667705      1
Name: count, Length: 450, dtype: int64

In [18]:
#from the above result we can conclude that 24300 value is the most repeated one in the Total Sales Value Column